{% extends 'base.html' %}
{% load staticfiles %}
{% block contenido %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZnjuC0kLWFHbj43bA_DSYtjbm1LXQveo"></script>

<br>

<div class="row">
	<div class="col-lg-12">
		<div id="mapContainer" class="panel panel-default">
			<div class="panel-heading">Tráfico de ciudades</div>
				<div id="map" style="height: 500px; width:1050px;"></div>
			<div class="panel-body"></div>
		</div>
	</div>
</div>
<script src="{% static 'js/googlemaps.js' %}"></script>
{% endblock %}